{% extends 'portfolio/base.html' %}
{% block title %}Projetos{% endblock %}

{% block content %}
<h2>Projetos</h2>

<p><a href="{% url 'projeto_criar' %}">+ Novo Projeto</a></p>

<section>
{% for p in projetos %}
    <article>
        <h3>{{ p.nome }}</h3>
        {% if p.uc %}<p>UC: {{ p.uc.nome }}</p>{% endif %}
        <p>{{ p.descricao }}</p>
        {% if p.tecnologias.all %}
            <p>Tecnologias:
            {% for t in p.tecnologias.all %}{{ t.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
        {% endif %}
        {% if p.url_repositorio %}<p><a href="{{ p.url_repositorio }}" target="_blank">Repositório</a></p>{% endif %}
        <p>
            <a href="{% url 'projeto_editar' p.pk %}">Editar</a> |
            <a href="{% url 'projeto_apagar' p.pk %}">Apagar</a>
        </p>
    </article>
    <hr>
{% empty %}
    <p>Nenhum projeto adicionado ainda.</p>
{% endfor %}
</section>

{% endblock %}