{% extends 'portfolio/base.html' %}
{% block title %}Unidades Curriculares{% endblock %}

{% block content %}
<h2>Unidades Curriculares</h2>

<section>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano</th>
                <th>Semestre</th>
                <th>ECTS</th>
                <th>Docentes</th>
            </tr>
        </thead>
        <tbody>
        {% for uc in ucs %}
            <tr>
                <td>{{ uc.nome }}</td>
                <td>{{ uc.ano }}º</td>
                <td>{{ uc.semestre }}º</td>
                <td>{{ uc.ects }}</td>
                <td>{% for docente in uc.docentes.all %}{{ docente.nome }}{% if not forloop.last %}, {% endif %}{% empty %}—{% endfor %}</td>
            </tr>
        {% empty %}
            <tr><td colspan="5">Nenhuma UC adicionada ainda.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}