{% extends 'escola/base.html' %}
{% block title %}Professores{% endblock %}

{% block content %}
<h2>Professores</h2>

<section>
{% for professor in professores %}
    <article>
        <header>
            {% if professor.foto %}
                <img src="{{ professor.foto.url }}" alt="{{ professor.nome }}" width="60">
            {% endif %}
            <h3>{{ professor.nome }}</h3>
        </header>
        <section>
            <h4>Cursos</h4>
            <ul>
                {% for curso in professor.cursos.all %}
                    <li><a href="{% url 'curso' curso.id %}">{{ curso.nome }}</a></li>
                {% empty %}
                    <li>Sem cursos</li>
                {% endfor %}
            </ul>
        </section>
    </article>
{% empty %}
    <p>Nenhum professor adicionado.</p>
{% endfor %}
</section>

{% endblock %}